.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

input {
  font-size: 18px;
  height: 30px;
  margin-bottom: 2em;
  width: 200px;
}
